<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">category</i>
            </div>
            <h4 class="card-title">Agregar Categoria</h4>
          </div>
          <div class="card-body " *ngIf="form">
            <form [formGroup] = 'form' (ngSubmit)="onSubmit()">
              <mat-form-field class="example-full-width">
                <input formControlName = "descripcion" matInput placeholder="Descripcion" type="text">
              </mat-form-field>
            <div class="card-footer ">
              <button mat-raised-button class="btn" (click)="onClickListar()">Cancelar</button>  
              <button mat-raised-button class="btn btn-fill btn-rose" (click)="onSubmit()">Guardar</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>