<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">accessibility</i>
            </div>
            <h4 class="card-title">Editar Paciente</h4>
          </div>
          <div class="card-body ">
            <form [formGroup]= 'form' (ngSubmit)="onSubmit()">

              <!-- Nombre -->
              <mat-form-field class="example-full-width">
                <input formControlName="nombre" matInput placeholder="Nombre" type="text">
              </mat-form-field>

              <!-- descripcion -->
              <mat-form-field class="example-full-width">
                <input formControlName="descripcion" matInput placeholder="descripcion" type="text">
              </mat-form-field>

              <!-- idPresentacionProducto -->
              <mat-form-field class="example-full-width">
                <input formControlName="idPresentacionProducto" matInput placeholder="idPresentacionProducto" type="email">
              </mat-form-field>

              <!-- idProducto -->
              <mat-form-field class="example-full-width">
                <input formControlName="idProducto" matInput placeholder="idProducto" type="email">
              </mat-form-field>
              
              <!-- idTipoProducto -->
              <mat-form-field class="example-full-width">
                <input formControlName="idTipoProducto" matInput placeholder="idTipoProducto" type="email">
              </mat-form-field>

              <!-- Fecha Nacimiento -->
              <!-- <mat-form-field class="example-full-width">
                <input formControlName="fechaNacimiento" matInput placeholder="Nacimiento" type="date">
              </mat-form-field> -->

              <div class="card-footer ">
                <button mat-raised-button class="btn" (click)="onClickListar()">Cancelar</button>
                <button mat-raised-button type="submit" [disabled]="form.invalid"
                  class="btn btn-fill btn-rose">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
