<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary card-header-icon" color="accent">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Categorías</h4>
                </div>      
                  <div class="card-body">
                      <div class="toolbar">
                          <!--Here you can write extra buttons/actions for the toolbar-->
                        <button mat-raised-button class="fabButton natura-button-1" mat-fab color="primary"  (click)="onClickAgregar()">
                            <mat-icon>add</mat-icon>
                        </button>
                     </div>             
                      <div class="material-datatables">
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                                    <mat-icon matSuffix>search</mat-icon>
                                  </mat-form-field>
                                </div>
                            </div>
                        <mat-table [dataSource]="dataSource">
                          <!-- Columna Nombre -->
                          <ng-container matColumnDef="idCategoria">
                              <mat-header-cell *matHeaderCellDef   > Nro. 
                                  <i class="material-icons" style="color: #cecece; font-size:16px; padding: 5px" (click)="ordenar('idCategoria')">sort</i>
                                </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.idCategoria}} </mat-cell>
                          </ng-container>
                      
                          <!-- Columna Apellido -->
                          <ng-container matColumnDef="descripcion">
                              <mat-header-cell *matHeaderCellDef> Descripción 
                              <i class="material-icons" style="color: #cecece; font-size:16px; padding: 5px" (click)="ordenar('descripcion')">sort</i>
                            </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
                          </ng-container>
                      <ng-container matColumnDef="accion">
                        <mat-header-cell *matHeaderCellDef>   Acción </mat-header-cell>  
                        <mat-cell *matCellDef="let element">   
                          <button mat-raised-button type="button" class="btn btn-success "(click)="abrirPopup(element.idCategoria,element.descripcion)">
                            <i class="material-icons">edit</i>
                          </button>
                          <button mat-raised-button type="button" class="btn btn-danger "  (click)="abrirPopupEliminar(element.idCategoria, element.descripcion)">
                            <i class="material-icons">close</i>
                          </button>
                        </mat-cell> 
                      </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></mat-row>
                      </mat-table>
                      <div *ngIf="totalCategorias==0 | async" class="no-records">
                          No existen Categorias
                      </div>
                      <mat-paginator [length]="totalCategorias" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="get_page($event)"></mat-paginator>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
</div>

 