<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-2">

        <legend>Fisioterapeutas</legend>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-select placeholder="Fisioterapeutas Disponibles"
                (selectionChange)="onChange($event.value, 'idFisioterapeuta')"
                [(ngModel)]="parametros_busqueda.idFisioterapeuta" name="idFisioterapeuta">
                <mat-option *ngFor="let fisioterapeuta of fisioterapeutas" [value]="fisioterapeuta.idPersona">
                  {{fisioterapeuta.nombre}} {{fisioterapeuta.apellido}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-2">

        <legend>Paciente</legend>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-select placeholder="Pacientes Disponibles" (selectionChange)="onChange($event.value, 'idPaciente')"
                [(ngModel)]="parametros_busqueda.idPaciente" name="idPaciente">
                <mat-option *ngFor="let paciente of pacientes" [value]="paciente.idPersona">
                  {{ paciente.nombre }} {{paciente.apellido}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <legend>Fecha Desde</legend>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Elige una Fecha" (click)="picker.open()"
                (dateChange)="onChange($event.target.value,'fechadesde')">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12">
            <legend>Fecha Hasta</legend>
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="Elige una Fecha" (click)="picker.open()"
                (dateChange)="onChange($event.target.value,'fechahasta')">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button mat-raised-button class="btn btn-rose btn-fill btn-wd mat-raised-button"
          (click)="filtrarReservas()">Filtrar</button>
        <button mat-raised-button class="btn btn-rose btn-fill btn-wd mat-raised-button"
          (click)="limpiar()">Limpiar</button>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title ">Listado de Reservas</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th>Fecha </th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Fisioterapeuta</th>
                    <th>Cliente</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let reserva of reservas">
                    <th>{{reserva.fecha}}</th>
                    <th>{{reserva.horaInicio}}</th>
                    <th>{{reserva.horaFin}}</th>
                    <th>{{reserva.idEmpleado.nombreCompleto}}</th>
                    <th>{{reserva.idCliente.nombreCompleto}}</th>
                    <th><button mat-raised-button type="button" class="btn btn-success ">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-danger ">
                        <i class="material-icons">close</i>
                      </button>
                      <button mat-raised-button type="button" class="btn btn-danger ">
                        <i class="material-icons">add</i>
                      </button>
                    </th>



                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>


      </div>
    </div>
    <button  mat-raised-button class="btn btn-rose btn-fill btn-wd mat-raised-button" (click)="irAagregarReservaComponent()">Agregar Nueva Reserva</button>
  </div>
</div>