<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" *ngIf="!showSpinner">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title ">Listado de Fichas Clinicas</h4>
            
          </div>
          <div class="card-body">
            <br>
            <div class="row">
                <div class="col-md-2">
          
                  <legend>Fisioterapeutas</legend>
          
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <mat-select placeholder="Fisioterapeutas Disponibles"
                          (selectionChange)="onChange($event.value, 'idFisioterapeuta')" (click)="abrirModalFisioterapeutas()"
                          [(ngModel)]="parametros_busqueda.idFisioterapeuta" name="idFisioterapeuta">
                          <mat-option *ngFor="let fisioterapeuta of fisioterapeutas" [value]="fisioterapeuta.idPersona">
                            {{fisioterapeuta.nombre}} {{fisioterapeuta.apellido}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
          
                  <legend>Paciente</legend>
          
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <mat-select placeholder="Pacientes Disponibles" (selectionChange)="onChange($event.value, 'idPaciente')" (click)="abrirModalClientes()"
                          [(ngModel)]="parametros_busqueda.idPaciente" name="idPaciente">
                          <mat-option *ngFor="let paciente of pacientes" [value]="paciente.idPersona">
                            {{ paciente.nombre }} {{paciente.apellido}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
          
                <div class="col-md-2">
          
                  <legend>Categoria</legend>
          
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <mat-select placeholder="Categorias" (selectionChange)="onChange($event.value, 'idCategoria')"
                          [(ngModel)]="parametros_busqueda.idCategoria" name="idCategoria">
                          <mat-option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
                            {{categoria.descripcion}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
          
                  <legend>Tipo de Producto</legend>
          
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field>
                        <mat-select placeholder="Tipo de productos" (selectionChange)="onChange($event.value, 'idTipoProducto')"
                          [(ngModel)]="parametros_busqueda.idTipoProducto">
                          <mat-option *ngFor="let tipoProducto of tipoProductos" [value]="tipoProducto.idTipoProducto">
                            {{tipoProducto.descripcion}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                      <div class="col-md-12">
                        <legend>Fecha Desde</legend>
                        <mat-form-field>
                          <br><input matInput [matDatepicker]="picker" placeholder="Elige una Fecha" (click)="picker.open()" (dateChange)="onChange($event.value, 'fechadesde')">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="row">
                      <div class="col-md-12">
                        <legend>Fecha Hasta</legend>
                        <mat-form-field>
                         <br><input matInput [matDatepicker]="picker2" placeholder="Elige una Fecha" (click)="picker.open()" (dateChange)="onChange($event.value, 'fechahasta')">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-2">
              <div class="row">
                  <button mat-raised-button class="btn btn-primary" (click)="irAfichaComponent()">Agregar Nueva Ficha</button>
              </div></div>
              <div class="col-md-2">
                <div class="row">
                    <button mat-raised-button class="btn btn-primary" (click)="filtrarResultados()">Filtrar</button>
                </div></div>
                <div class="col-md-2">
                  <div class="row">
                      <button mat-raised-button class="btn btn-primary" (click)="limpiar()">Limpiar</button>
                  </div></div>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th>Fisioterapeuta</th>
                    <th>Paciente</th>
                    <th>Fecha Desde</th>
                    <th>Fecha Hasta</th>
                    <th>Tipo de Producto</th>
                    <th>Categoria</th>
                    <th>Observacion</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ficha of fichasClinicas">
                    <td>{{ficha.idEmpleado.nombreCompleto}}</td>
                    <td>{{ficha.idCliente.nombreCompleto}}</td>
                    <td><span *ngIf="ficha.fechaDesdeCadena">
                        {{ficha.fechaDesdeCadena}}
                      </span>
                      <span *ngIf="!ficha.fechaDesdeCadena">
                        No especificado
                      </span>
                    </td>
                    <td><span *ngIf="ficha.fechaHastaCadena">
                        {{ficha.fechaHastaCadena}}
                      </span>
                      <span *ngIf="!ficha.fechaHastaCadena">
                        No especificado
                      </span>
                    </td>
                    <td>{{ficha.idTipoProducto.descripcion}}</td>
                    <td>{{ficha.idTipoProducto.idCategoria.descripcion}}</td>
                    <td>{{ficha.observacion}}</td>
                    <td>                      <button mat-raised-button type="button" class="btn btn-info" (click)="abrirPopup(ficha.idFichaClinica,ficha.observacion)">
                      Editar Ficha Clinica<i class="material-icons">edit</i>
                    </button><button mat-raised-button type="button" class="btn btn-danger" (click)="irAcrearServicio(ficha.idEmpleado.idPersona,ficha.idCliente.idPersona)">
                        Crear Servicio<i class="material-icons">add</i>
                      </button></td>
               









                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>


      </div>
      <div class="col-md-12" *ngIf="showSpinner" style="text-align: center">
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'" style="margin:0 auto;"  mode="indeterminate"></mat-spinner>
      </div>
    </div>
  </div>
</div>