<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">

        <legend>Fisioterapeutas</legend>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-select placeholder="Fisioterapeutas Disponibles"
                (selectionChange)="onChange($event.value, 'idFisioterapeuta')"
                [(ngModel)]="parametros_busqueda.idFisioterapeuta" name="idFisioterapeuta">
                <mat-option *ngFor="let fisioterapeuta of fisioterapeutas" [value]="fisioterapeuta.idPersona">
                  {{fisioterapeuta.nombre}} {{fisioterapeuta.apellido}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <legend>Paciente</legend>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-select placeholder="Pacientes Disponibles" (selectionChange)="onChange($event.value, 'idPaciente')"
                [(ngModel)]="parametros_busqueda.idPaciente" name="idPaciente">
                <mat-option *ngFor="let paciente of pacientes" [value]="paciente.idPersona">
                  {{ paciente.nombre }} {{paciente.apellido}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <legend>Fecha</legend>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Elige una Fecha" (click)="picker.open()"
                (dateChange)="onChange($event.target.value,'fecha')">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"  [checked]="parametros_busqueda.mostrarSoloLibres" (click)="onChange($event,'mostrarSoloLibres')">Mostrar solo libres
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
          </label>
        </div>


      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <button mat-raised-button class="btn btn-rose btn-fill btn-wd mat-raised-button"
          (click)="cargarListaAgendas()">Filtrar</button>
        <button mat-raised-button class="btn btn-rose btn-fill btn-wd mat-raised-button"
          (click)="limpiar()">Limpiar</button>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title ">Listado de Fichas Clinicas</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Cliente</th>
                    <th>Seleccionar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let agenda of agendas">
                    <td>{{agenda.horaInicio}}</td>
                    <td>{{agenda.horaFin}}</td>
                    <td><span *ngIf="!agenda.idReserva && !agenda.idCliente">No reservado aun</span><span
                        *ngIf="agenda.idReserva && agenda.idCliente">{{agenda.idCliente.nombreCompleto}}</span></td>
                    <td>
                      <div class="form-check" *ngIf="!agenda.idReserva && !agenda.idCliente">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="exampleRadios" value="option2" (click)="capturarDatos(agenda.horaInicioCadena,agenda.horaFinCadena,agenda.idEmpleado.idPersona,agenda.fechaCadena,parametros_busqueda.idPaciente)">
                          Reservar
                          <span class="circle">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <label class="col-sm-2 col-form-label">Observacion</label>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput type="textarea" placeholder="Observacion" [(ngModel)]="observacion" name="observacion">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <button mat-raised-button class="btn btn-rose btn-fill btn-wd mat-raised-button"
              (click)="enviar()">Agregar Reserva</button>
            
    
          </div>
        </div>
  </div>
</div>